//-
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 * # Proyecto
 * Vista | `mainLayout.pug`
 *
 * A01657103 | Daniel Bakas Amuchástegui
 * A01027543 | Santiago Hernández Guerrero
 *
 * Sep 14, 2022
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

doctype html
html
    head
        title=title
        link(rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet' type='text/css' href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' type='text/css' href='/stylesheets/main.css')
        script(src='/scripts/form.js')
    body
        block content