//-
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 * # Proyecto
 * Vista | `machine.pug`
 *
 * A01657103 | Daniel Bakas Amuchástegui
 * A01027543 | Santiago Hernández Guerrero
 *
 * Sep 14, 2022
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

extends layout

block content
    main
        .container-contact100
            .wrap-contact200
                section#status.contact100-form-title RIFA YAKULT 2022!
                section#Slots
                    #slot1.a1
                    #slot2.a1
                    #slot3.a1
                    #slot4.a1
                .container-contact100-form-btn
                        .wrap-contact100-form-btn
                            .contact100-form-bgbtn
                            button.contact200-form-btn(onclick=`doSlot(${code})`)
                                span
                                    | Gira para ver tu boleto 
                                    i.fa.fa-long-arrow-right.m-l-7(aria-hidden='true')
                .container-contact100-form-btn
                        .wrap-contact100-form-btn
                            .contact100-form-bgbtn
                            button.contact100-form-btn
                                span
                                    a(href='/') Volver a inicio
                                    i.fa.fa-long-arrow-right.m-l-7(aria-hidden='true')
    a(href='/') Index