a{
	color: #E73C37;
	text-decoration: none;
}
h3{
	margin-top: 12px;
}
*{
	margin:0px;
}
body{
	background-color: #f7efe7;
	font-family: 'Roboto', sans-serif;
}
main{
	border-radius: 5px;
	background-color: #E73C37;
  margin-top: 10em;
  margin-left: 10em;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	width: 720px;
}
section#status{
	margin-bottom: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	text-align: center;
	background-color: #312c38;
	color: #f7efe7;
	font-size: 25px;
}
section#Slots{
	border-radius: 15px;
	background-color: #FAFAFA;
}
section#Gira{
	margin-top: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	text-align: center;
	background-color: #BFB0A0;
	color: #312c38;
	font-size: 25px;
}
section#Gira:hover{
	background-color: #c1aa91;
}
section#options{
	margin-top: 20px;
	padding-top: 5px;
	border-radius: 5px;
	background-color: #C62828;
	color: #FFFFFF;
}
.option{
	padding-left: 5px;
}
section#info{
	background-color: #616161;
	padding-left: 12px;
	padding-bottom: 12px;
	border-radius: 5px;
	overflow: hidden;
	animation-duration: 1s;
	color: #BDBDBD;
	margin-top: 50px;
	margin-left: 30%;
	margin-right: 30%;
	display: none;
}
#slot1, #slot2, #slot3, #slot4{
	display: inline-block;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	background-size: 150px;
	width: 150px;
	height: 150px;
}
.a1{
	background-image: url("/images/tiles/1.png");
}
.a2{
	background-image: url("/images/tiles/2.png");
}
.a3{
	background-image: url("/images/tiles/3.png");
}
.a4{
	background-image: url("/images/tiles/4.png");
}
.a5{
	background-image: url("/images/tiles/5.png");
}
.a6{
	background-image: url("/images/tiles/6.png");
}
.a7{
	background-image: url("/images/tiles/7.png");
}
.a8{
	background-image: url("/images/tiles/8.png");
}
.a9{
	background-image: url("/images/tiles/9.png");
}
.a0{
	background-image: url("/images/tiles/0.png");
}