extends ../layout

block content
    table.table     
        thead
            tr
                th ID 
                th Color 
                th Modelo 
                th Ubicacion 
        tbody 
            each bici in bicis 
                tr 
                    td=bici.id
                    td=bici.color
                    td=bici.modelo
                    td=bici.ubicacion
    a(href='/') Home