extends layout

block content
  main
    section#status RIFA YAKULT 2022!
    section#Slots
      #slot1.a1
      #slot2.a1
      #slot3.a1
      #slot4.a1
    section#Gira(onclick=`doSlot(${code})`) VER MI BOLETO!